nav {
    background: linear-gradient(180deg, #000000E6 0%, #15151599 45%, #24242433 79%, #54545400 100%);
  }
  body::before {
    content: "";
    background-image: url("../../img/web_top_sp.jpeg");
    background-size: cover;
    background-position: top center;
    display: block;
    position: fixed;
    top: -20px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: translateZ(0);
  }
  body::after {
    content: '';
    background-color: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: fixed;
    top: -20px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: translateZ(0);
}
  #lang-code-select {
    background-color: transparent!important;
  }
  #lang-code-select li {
    background-color: transparent!important;
  }
  @media  only screen and (min-width: 768px) {
    body::before {
      filter: blur(6px);
      -webkit-filter: blur(6px);
      -moz-filter: blur(6px);
      -o-filter: blur(6px);
      -ms-filter: blur(6px);
      background-image: url("../../img/web_top.jpeg");
      top: 0;
    }
    body::after {
      top: 0;
    }
  }
  #app {
    background-color: rgba(000,0,0,0.25);
  }